/* Main lockup */
#main {
  display: grid; 
  grid-template: 'controls' 'viz-root';
  
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#controls {
  grid-area: 'controls';
}

#viz-root {
  grid-area: 'viz-root';
}

#control-hints {
  position: absolute;
  bottom: 0;
  left: 0; 
}
