:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--fg-color);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --gap: 0.666rem;
  --bg-color: #242424;
  --fg-color: rgba(255, 255, 255, 0.87);
  --fg-active: rgba(255, 255, 255, 1);
  --dim: rgba(0,0,0,0.333);
}

@media (prefers-color-scheme: light) {
  :root {
    --fg-color: #213547;
    --fg-active: #0b1b29;
    --bg-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: var(--bg-color);
  }
}

label {
  display: block;
  margin: var(--gap);
}

label + label {
  margin-top: calc(var(--gap) * 2)
}

label > input {
  display: block;
  margin-top: var(--gap);
  width: 100%;
}
